{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<head>
    <body>

        <div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h1><i></i>Acerca de Nosotros<small class="hidden-xs-down hidden-sm-down">"Llevamos al alcance de tu mano todas las novedades del mundo mecánico, técnico y digital.".</small></h1>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-custom-build">
                                <div class="blog-box">
            
                                    <div class="blog-meta big-meta text-center">
                                        <div class="post-sharing">
                                            
                                        </div><!-- end post-sharing -->
                                        <p>Tec-Info es un Blog de Noticias enfocado en aquellos que saben que el tiempo es “oro”, al igual que los datos
                                           (hablo de ustedes ,apasionados de la tecnología). 

                                           De manera rigurosa y con pasión les explayaremos  la actualidad tecnológica, siempre con base en 
                                           fuentes fiables y legales. 

                                           Para que logres mantener la mente abierta a los cambios que se avecinan(o que ya se estan dando).
                                           </p>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                    <div >
                                    <div >
                                        <a  title="">
                                            
                                            <!-- end hover -->
                                        </a>
                                    </div>
                                    <!-- end media -->
                                    <div class="text-center">
                                        <h4><a  title="">¿Cómo surgimos?</a></h4>
                                        <p>Surgimos como una idea , donde con nuestro equipo de trabajo conformado por 6 Programadores (Nivel Trainee Junior) y más de 2 meses de trabajo 
                                        logramos establecernos como el Blog N°1 en el Chaco , creando una comunidad de usuarios muy informados, influyentes y altamente participativos siempre a la vanguardia de la tecnología.</p>
                                        

                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box">
                                    <div class="post-media">
                                        <a  title="">
                                            
                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div>
                                            <!-- end hover -->
                                        </a>
                                    </div>
                                    <!-- end media -->
                                    <div class="blog-meta big-meta text-center">
                                     
                                        <h4><a  title="">Tec-Info por siempre</a></h4>
                                        <p>Tec-Info demuestra que la habilidad de exponer una idea , a veces es más importante que la idea misma.</p>
                                        
                                        <p>Tec-Info es el conocimiento arrollador contra el adoctrinamiento (no se puede enseñar, solo hacer pensar).</p>

                                        <p>Tec-Info es una biblioteca de saberes, al alcance de tu mouse.</p>                        
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                                <hr class="invis">
                                <div class="blog-box">
                                    <div >
                                        <a  title="">
                                            <img  alt="" class="img-fluid">
                                            <div class=>
                                                <span class=></span>
                                            </div>
                                            <!-- end hover -->
                                        </a>
                                    </div>
                                    <!-- end media -->
                                    <div class="blog-meta big-meta text-center">       
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                                <hr class="invis">
                                <hr class="invis">
                                <div class="blog-box">

                                    <!-- end media -->

                                </div><!-- end blog-box -->
                            </div><!-- end blog-custom-build -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                            
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->
                                
                            </div><!-- end widget -->

                            <div class="widget">
                                
                            </div><!-- end widget -->

                            <div class="widget">
                                
                                <div class="row text-center">

                                </div>
                            </div><!-- end widget -->

                            <div class="widget">
                                
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div>
            </div><!-- end container -->
        </section>
 
    </body>

</head>
{% endblock %}
