{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1"><strong>Acerca de Nosotros</strong></h1>
        <p>
            Sin duda has de querer saber más acerca de las personas detrás de este proyecto. Conoce quiénes somos y qué es lo que nos motiva.
        </p>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-custom-build">
                        <div class="blog-box">
                            <div class="blog-meta big-meta text-center"  >
                                <br>
                                <h4>¿Qué es Tec-Info?</h4>
                                <p>Tec-Info es un Blog de Noticias enfocado en aquellos que saben que el tiempo es “oro”, al igual que los datos
                                (hablo de ustedes, apasionados de la tecnología). 

                                De manera rigurosa y con pasión les explayaremos la actualidad tecnológica, siempre con base en 
                                fuentes fiables y legales. 

                                Para que logres mantener la mente abierta a los cambios que se avecinan (o que ya se estan dando).
                                </p>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        <div class="text-center">
                            <h4>¿Cómo surgimos?</h4>
                            <p>Surgimos como una idea, donde con nuestro equipo de trabajo conformado por 6 Programadores (Nivel Trainee Junior) y más de 2 meses de trabajo 
                            logramos establecernos como el Blog N°1 en el Chaco, creando una comunidad de usuarios muy informados, influyentes y altamente participativos, siempre a la vanguardia de la tecnología.</p>
                        </div><!-- end meta -->
                        
                        <hr class="invis">

                        <div class="blog-box">
                            <div class="blog-meta big-meta text-center">
                            <h4>Tec-Info por siempre</h4>
                            <p>Tec-Info demuestra que la habilidad de exponer una idea, a veces es más importante que la idea misma.</p>
                            <p>Tec-Info es el conocimiento arrollador contra el adoctrinamiento (no se puede enseñar, solo hacer pensar).</p>
                            <p>Tec-Info es una biblioteca de saberes, al alcance de tu mouse.</p> 
                            <br>
                            </div><!-- end meta -->
                        </div>  
                    </div><!-- end blog-box -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div>
    </div><!-- end container -->
</section>


{% endblock %}
