{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Inicio {% endblock title %}</title>


{% block contenido %}

<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1" ></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static '/assets/img/banner_img_01.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><strong><b>Tec</b>-Info</h1></strong>
                            <h3 class="h2">Adéntrate al mundo tecnológico</h3>
                            <p>Tec-Info es una web estilo blog que lleva al alcance de tu mano todas las novedades del mundo mecánico, técnico y digital. Navega entre páginas y descubre las funciones que tenemos para ofrecerte, entre ellas, registrarte, postear y comentar.</p>
                            <p>
                                Comisión 2 - Grupo 2 Chaco 2023
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static '/assets/img/banner_img_02.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Únete a Tec-Info</h1>
                            <h3 class="h2">Mejora todas tus funciones</h3>
                            <p>Permanecer leyendo es aburrido? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Inicia sesión o regístrate para poder acceder a comentar, publicar y editar los artículos de la web.
                            </p>
                            <a href="{% url 'apps.usuario:login' %}?next={{ request.path }}"><button type="submit">Iniciar Sesión</button></a> &nbsp;
                            <a href="{% url 'apps.usuario:registrar' %}?next={{ request.GET.next }}"><button type="submit">Registrarse</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static '/assets/img/banner_img_03.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Novedades</h1>
                            <h3 class="h2">Conoce los posteos</h3>
                            <p>
                                Lee, aprende e interactua acerca con las noticias e invensiones que nuestros miembros han subido recientemente. Conoce más acerca de ellos y expande tu conocimiento.
                            </p>
                            <a href="{% url 'apps.articulo:articulos' %}"><button type="submit">Artículos</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
{% endblock %}