{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}

<title> {% block title %} Artículos {% endblock title %} </title>
{% block contenido %}

<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1"><strong>Artículos</strong></h1>
        <p>
            Expande aquí tus conocimientos. Lee, crea, edita, comenta, ordena, todo eso y más. Una vez que comiences no te detendrás.
        </p>
    </div>
</div>

<section class="container py-5">
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ordenar por:</h4>
    <ul>
        <a class="btn btn-success btn-lg" href="{% url 'apps.articulo:articulos' %}?orden=reciente">Más Reciente</a>
        <a class="btn btn-success btn-lg" href="{% url 'apps.articulo:articulos' %}?orden=antiguo">Más Antiguo</a>
        <a class="btn btn-success btn-lg" href="{% url 'apps.articulo:articulos' %}?orden=alfabetico">Orden Alfabético</a>
        <a class="btn btn-success btn-lg" href="{% url 'apps.articulo:categoria_lista' %}">Listar todas las Categorías</a>
    </ul>
    {% if user.is_superuser or request.user|has_group:"Colaborador"  %}
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Crear:</h4>
    <ul>
        <a class="btn  btn-lg" style="background-color: darkcyan; color: white;" href="{% url 'apps.articulo:articulo_crear' %}">Nuevo Artículo</a>
        <a class="btn  btn-lg" style="background-color: darkcyan; color: white;" href="{% url 'apps.articulo:crear_categoria' %}">Nueva Categoría</a>
    </ul>
    {% endif %}

    <div class="row">
        {% for articulo in articulos %}
        <div class="col-12 col-md-4 p-5 mt-3">
            <h4 class="text-center mt-3 mb-3">{{ articulo.titulo | capfirst }}</h4>
            <div class="text-center mt-3 mb-3">
                <a><img src="{{ articulo.image.url }}" class="rounded-circle img-fluid border" style="width: 150px; height: 150px;"></a>
                <br>
                <h5 class="text-center mt-1 mb-1">{{ articulo.resumen }}</h5>
            </div>
            <h6 class="text-center mt-6 mb-6">Publicado: {{ articulo.fecha_publicacion }}</h6>
            <p class="text-center"><a class="btn btn-success" href="{% url 'apps.articulo:articulo_detalle' articulo.id %}">Ingresar</a></p>
        </div>
        {% empty %}  
        <div class="col-md-6 m-auto text-center">
        <h2>No hay artículos</h2>
        </div>
        {% endfor %}
    </div>


    <script>
      document.getElementById('categoria').addEventListener('change', function() {
          var categoria = this.value;
          if (categoria) {
              window.location.href = '/articulos/' + categoria + '/';
          } else {
              window.location.href = '/articulos/';
          }
      });
    </script>
    <script>
      function updateUrl() {
          var categoria = document.getElementById('categoria').value;
          var orden = document.getElementById('orden').value;
          var fecha = document.getElementById('fecha').value;
          
          var url = '/articulos/';
          if (categoria) {
              url += categoria + '/';
          }
          if (orden || fecha) {
              url += '?';
              if (orden) {
                  url += 'orden=' + orden;
                  if (fecha) {
                      url += '&';
                  }
              }
              if (fecha) {
                  url += 'fecha=' + fecha;
              }
          }
          
          window.location.href = url;
      }
  
      document.getElementById('categoria').addEventListener('change', updateUrl);
      document.getElementById('orden').addEventListener('change', updateUrl);
      document.getElementById('fecha').addEventListener('change', updateUrl);
    </script>
</section>
{% endblock %}


